@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0 auto;
  font-family: "Montserrat";
}

body,
html {
  height: 100%;
  display: grid;
  place-content: center center;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  height: fit-content;
  border-radius: 10px;
}
h2 {
  font-size: 2em;
  margin: 2px;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin-top: 10px;
  align-items: flex-start;
  gap: 10px;
}

.label {
  margin: 0;
  font-weight: 800;
  margin: 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-left: 0;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid black;
}

input[type="text"]:focus {
  outline: none;
}

button {
  padding: 10px;
  font-size: 15px;
  width: 40%;
  background-color: green;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
}

#footer {
  text-decoration: none;
}
